<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hestia Hotels</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <img src="/public/images/HotelPixelArt.png" style="width:50px;height:50px;float: left;">
            <h1 class="nav-heading"><a href="/">Hestia Hotels</a></h1>
        </nav>
    </header>

    <h1>Enregistrement de reservation</h1>
    <hr>
    <h2 class="h2-intro">Entrer les infos requis</h2>
    <form action="/api/employee/new_res" method="post">
        <input type="text" name="Chambres_id" id="Chambres_id" placeholder="Chambres ID">
        <br>
        <input type="text" name="Client_id" id="Client_id" placeholder="Client ID">
        <br>
        <label>De quelle à quelle date?</label>
        <input type="date" name="startdate" id="startdate">
        <input type="date" name="enddate" id="enddate">
        <br>
        <input type="submit" name="Submit">
    </form>

    

</body>
</html>