<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Home page</title>
</head>
<body>
    <form action="/api/employee/all_res" method="GET">
        <button class="emp-btn" type="submit"> Voir toutes les réservations </button>
    </form>

    <form action="/api/employee/new_res" method="GET">
        <button class="emp-btn" type="submit"> Enregistrer une nouvelle réservation </button>
    </form>

    <form action="/api/employee/new_client" method="GET">
        <button class="emp-btn" type="submit"> Enregistrer un nouveau client </button>
    </form>

    <form action="/api/employee/search_client" method="GET">
        <button class="emp-btn" type="submit"> Rechercher un client </button>
    </form>

    <form action="/api/employee/search_res" method="GET">
        <button class="emp-btn" type="submit"> Rechercher une réservation </button>
    </form>

    <form action="/api/employee/search_chambre" method="GET">
        <button class="emp-btn" type="submit"> Recherchez une chambre </button>
    </form>

    <form action="/api/employee/update_contact" method="GET">
        <button class="emp-btn" type="submit"> Modifier les contacts de l'hôtel </button>
    </form>
    
</body>
</html>