@font-face {
    font-family: 'roboto_light'; /*a name to be used later*/
    src: url('Roboto-Light.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'title_font'; /* Custom title font */
  src: url('Square.ttf'); /* URL to the font file */
}


body {	
	margin: 0;
	font-family: roboto_light;
  
}

header {
	background: rgb(60, 60, 60);
	color:white;
	padding: 15px 15px 15px 15px;
}

.nav-heading {
	margin: 6px 15px;
	float: left;
  color: white;
  font-family: 'title_font', Arial, sans-serif;
  font-size: 32px;
}

header h1 a{
  color: white;
  text-decoration:none;
}

body h1 {
    margin: 10px;
}

p {
  margin: 10px;
}

.h2-intro {
  margin: 10px;
}

nav {
	display: inline-block;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #222;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar img {
    padding: 0;
    margin: 0;
}

td {
  padding: 5px;
  background-color: rgb(194, 194, 194);
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; 
}



.emp-btn {
  padding: 10px 20px;
  margin: 0 50px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
  width: 250px;
}

.emp-btn-side {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 250px;
}

.emp-btn:hover {
  background-color: #0056b3; 
}

.emp-btn-side:hover {
  background-color: #0056b3; 
}

.button-admin {
  float: left;
  padding: 10px 20px;
  margin: 0 0px;
  font-size: 16px;
  background-color: #ff0000; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-admin:hover {
  background-color: #b30000; 
}


.login-form {
  width: 300px;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}

.form-group {
  margin-left: 10px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select[id="chaine_hotel"],
.form-group select[id="ville"],
.form-group select[id="capacite"],
.form-group select[id="categorie"],
.form-group select[id="superficie"],
.form-group select[id="nchambres"]   {
  width: 250px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0px;
}

.form-group input[type="submit"] {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group-side input[type="text"] {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
}
