<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hestia Hotels</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <img src="/public/images/HotelPixelArt.png" style="width:50px;height:50px;float: left;">
            <h1 class="nav-heading"><a href="index">Hestia Hotels</a></h1>
        </nav>
    </header>

    <h1>Welcome Client <%= id %></h1>
    <hr>
    <h2 class="h2-intro">Bienvenue!</h2>

    <div class="button-container">
        <a href="<%=id%>/reservation"><button class="button" >Fair une reservation</button></a>
        <a href="/"><button class="button">Log Out</button></a>
    </div>

</body>
</html>